*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root{
  --color-primary: #292929;
  --color-secundary: #6b6b6b;
  --color-ter: #131313;
  --color-black: #000000;
  --color-white: #ffffff;
}

body{
    background-color: var(--color-primary);   
}

main{
    margin-top: 400px;
}

.container{
    display: contents;
    flex-direction: row;
    width: 80%;
    margin-left: 200px;
    align-items: center;
    border: solid 2px var(--color-secundary);
}

.pokemon{
    height: 320px;
    width: 250px;
    margin: 10px;
    border: solid 2px var(--color-black);
    border-radius: 10px;
    background-color: var(--color-secundary);
    color: var(--color-white);
    text-align: center;
    align-items: center;
    display: inline-block;
}

.pokemon .type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.pokemon .type img {
    max-width: 50px;
    height: auto;
    margin: 2px;
}

.type{
    height: 20px;
    width: 55px;
    margin-left: 94px;
}

.icon{
    background-color: var(--color-primary);
    border-radius: 10px;
    margin-top: 10px;
}

.info{
    color: var(--color-white);
    background-color: var(--color-primary);
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
}


#search-input {
    margin: 50px 0 0 808px ;
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--color-white);
    border-radius: 10px 0 0 10px;
  }
  
  #search-button {
    padding: 10px;
    font-size: 16px;
    background-color: var(--color-secundary);
    color: var(--color-white);
    border: none;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
  }
  
  #search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }