*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root{
  --color-primary: #292929;
  --color-secundary: #6b6b6b;
  --color-ter: #131313;
  --color-black: #000000;
  --color-white: #ffffff;
}

body{
    background-color: var(--color-primary);   
}

main{
    margin-top: 400px;
}

.container{
    display: contents;
    flex-direction: row;
    width: 80%;
    margin-left: 200px;
    align-items: center;
    border: solid 2px var(--color-secundary);
}

.pokemon{
    height: 320px;
    width: 250px;
    margin: 10px;
    border: solid 2px var(--color-black);
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgb(255, 0, 0), rgb(196, 21, 21),rgb(179, 36, 36),rgb(163, 37, 37));
    color: var(--color-white);
    text-align: center;
    align-items: center;
    display: inline-block;
}

.pokemon .type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.pokemon .type img {
    max-width: 50px;
    height: auto;
    margin: 2px;
}

.type{
    height: 20px;
    width: 55px;
    margin-left: 94px;
}

.icon{
    background-image: linear-gradient(to bottom, rgb(196, 176, 176), rgb(128, 117, 117),rgb(104, 98, 98),rgb(71, 67, 67));
    border-radius: 10px;
    border: solid 4px var(--color-black);
    margin-top: 10px;
}

.info{
    color: var(--color-white);
    background-color: var(--color-primary);
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
    margin-top: 8px;
}

.inicio{
    position: fixed;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: 1px;
    border-color: var(--color-black);
    opacity: 0.5;
    margin-left: 600px;
    margin-top: 15px;
}

.dex {
    width: 300px;
    height: 200px;
    margin-left: 808px;

}


#search-input {
    margin: -5px 0 0 808px ;
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--color-white);
    border-radius: 10px 0 0 10px;
  }
  
  #search-button {
    padding: 10px;
    font-size: 16px;
    background-color: var(--color-secundary);
    color: var(--color-white);
    border: none;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
  }
  
  #search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }